body {
    font-family: 'Gugi', cursive;
    font-family: 'Cormorant Unicase', serif;
    font-family: 'BioRhyme Expanded', serif;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Exo', sans-serif;
    color: aliceblue;
}

